{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3><b>Sanidhya Shrimali</b></h3>
                <p class="lead" style="font-weight: 350; font-family: cursive;">Hi, I am Sanidhya Shrimali. Currently Pursuing Bachelors in
                    Computer Engineering from KJSIT,Mumbai.</p>
            </center>
            <div>
                <h5><b>Social Media Handles :</b></h5><br>
                <a target="_blank" href='sanidhya.rs@somaiya.edu'><img
                        src="https://img.icons8.com/plasticine/100/gmail.png" height="40" width="40"></a> :
                sanidhya.rs@somaiya.edu<br><br>
                <a target="_blank" href='https://github.com/sanidhya2803'><img
                        src="https://img.icons8.com/doodle/48/github--v1.png" height="40" width="40"></a> :
                        sanidhya2803<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/sanidhya-shrimali-b7b714216/'><img
                        src="https://img.icons8.com/doodle/48/linkedin--v2.png" height="40" width="40"></a> :
                Sanidhya Shrimali<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3><b>Ansh Kishan</b></h3>
                <p class="lead" style="font-weight: 350; font-family: cursive">Hi, I am Ansh Kishan. Currently Pursuing Bachelors in
                    Computer Engineering from KJSIT,Mumbai.</p>
            </center>
            <div>
                <h5><b>Social Media Handles :</b></h5><br>
                <a target="_blank" href='Ansh Kishan'><img
                        src="https://img.icons8.com/plasticine/100/gmail.png" height="40" width="40"></a> :
                Ansh Kishan<br><br>
                <a target="_blank" href='Ansh Kishan'><img
                    src="https://img.icons8.com/doodle/48/github--v1.png" height="40" width="40"></a> :
                    Ansh Kishan<br><br>
                <a target="_blank" href='Ansh Kishan'><img
                        src="https://img.icons8.com/doodle/48/linkedin--v2.png" height="40" width="40"></a> :
                        Ansh Kishan<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3><b>Tavmeet Singh</b></h3>
                <p class="lead" style="font-weight: 350; font-family: cursive">Hi, I am Tavmeet Singh. Currently Pursuing Bachelors in
                    Computer Engineering from KJSIT,Mumbai.</p>
            </center>
            <div>
                <h5><b>Social Media Handles :</b></h5><br>
                <a target="_blank" href='mailto:tavmeet.s@somaiya.edu'><img
                        src="https://img.icons8.com/plasticine/100/gmail.png" height="40" width="40"></a> :
                        tavmeet.s@somaiya.edu<br><br>
                <a target="_blank" href='https://github.com/manthan89-py'><img
                        src="https://img.icons8.com/doodle/48/github--v1.png" height="40" width="40"></a> :
                Tavmeet Singh<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/tavmeet-singh-abbaa42b7?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app'><img
                        src="https://img.icons8.com/doodle/48/linkedin--v2.png" height="40" width="40"></a> :
                Tavmeet Singh<br>
            </div>
        </div>
    </div>
</div>


{% endblock body %}